*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: rgb(17, 70, 70);
}
            /* Menu de Navegacion Superior */
.navegacion{
    width: auto;
    padding-left: 150px;
    background-color: rgb(11, 43, 43);
}
.navegacion ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu>li>a{
    display: block;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px 25px;
    color: rgb(194, 191, 191);
}
.menu li a:hover{
    color: yellowgreen;
    transition: all .5s;
}
.submenu{
    position: absolute;
    background-color: rgb(49, 49, 49);
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}
.submenu li a{
    color: rgb(194, 191, 191);
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 10px;
}
.menu li:hover .submenu{
    display: block;
    visibility: visible;
    opacity: 1;
}
/* */